<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<title>Edit Product</title>
	</head>
	<body class="item">
		<h1 layout:fragment="header">
			<span class="icon product-icon"></span>
			<span class="iconed-title" th:if="${item.id == 0}">Add Product</span>
			<span class="iconed-title" th:if="${item.id != 0}">Edit Product</span>
		</h1>
		<div layout:fragment="content" class="container">
			<form th:action="${item.id != 0} ? ${item.id} + '.html' : 'form.html' " th:object="${item}"
				th:method="${item.id != 0} ? put : post" role="form">
				<div class="form-group">
					<label>Name</label>
					<input type="text" th:field="*{name}" class="form-control" placeholder="name" />
				</div>
				<div class="form-group">
					<label>Price</label>
					<input type="number" th:field="*{price}" class="form-control" placeholder="price" /> €
				</div>
				<div class="form-group">
					<a href=""><img class="item-image" th:src="'/images/product_' + ${item.id} + '.png'" /></a>
				</div>
				<button type="submit" class="btn btn-default">Save</button>
			</form>
		</div>
	</body>
</html>
