<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<title>Products</title>
	</head>
	<body>
		<h1 layout:fragment="header">
			<span class="icon products-icon"></span>
			<span class="iconed-title">Products</span>
		</h1>
		<div layout:fragment="content" class="container">
			<div class="row">
				<div class="col-md-4">
					<a class="button" id="addItem" href="form.html">Add Item</a>
				</div>
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Image</th>
						<th>Name</th>
						<th>Price</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${items.empty}">
						<td colspan="4">No items</td>
					</tr>
					<tr th:each="item : ${items}">
						<td>
							<a href="1.html" th:href="${item.id + '.html'}" th:text="${item.id}">1</a>
						</td>
						<td>
							<a href="1.html" th:href="${item.id + '.html'}"><img th:src="'/images/product_' + ${item.id} + '.png'" width="140" /></a>
						</td>
						<td>
							<a href="1.html" th:href="${item.id + '.html'}" th:text="${item.name}">Name</a>
						</td>
						<td>
							<span th:text="${item.price}">42.0</span> €
						</td>
						<td>
							<form th:action="${item.id + '.html'}" th:method="delete">
								<input type="submit" value="delete" class="btn btn-link delete" />
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>